.site-header {
  @extend %padding-small;
  background: $brand-color;
  border-bottom: 1px solid $border-color;
  display: inline-block;
  float: left;
  width: 100%;

  a {
    color: $header-link-color;
  }

  .avatar {
    max-height: 100px;
    margin-top: -3px;
    border-radius: 0.2em;
    margin-right: 1em;
    display: none;

    @media (min-width: $mobile-bp) {
      float: left;
    }

    @media (min-width: 640px) {
      & {
        display: inline;
      }
    }
  }

  .avatar-sm {
    display: inline;

    @media (min-width: 640px) {
      & {
        display: none;
      }
    }
  }

  .hamburger {
    outline: none;
    float: right;
    margin-top: 15px;
    display: inline;

    @media (min-width: 640px) {
      margin-top: 5px;
    }

    @media (min-width: $mobile-bp) {
      & {
        display: none;
      }
    }
  }

  .site-title {
    float: left;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.5;
  }

  .site-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      float: right;
      text-align: right;
    }
    li {
      display: inline;
      float: left;
      margin-right: 0.4em;

      .icon-caption {
        display: none;
      }

      .separator {
        color: rgba($text-color, .5);
      }
    }

    @media (min-width: $mobile-bp) {
      height: auto !important;
      margin-top: 15px;
    }

    @media (max-width: ($mobile-bp - 1)) {
      & {
        height: 0;
        overflow: hidden;
        -webkit-transition: height 0.3s;
        -moz-transition: height 0.6s;
        -ms-transition: height 0.6s;
        -o-transition: height 0.6s;
        transition: height 0.6s;
      }

      &.is-active {
        height: auto;
      }

      ul {
        float: none;
        width: 100%;
        display: block;
      }

      li {
        display: block;
        width: 100%;
        padding: 10px;
        text-align: left;
        float: none;
        border-top: 1px rgba($text-color, .5) solid;

        .icon-caption {
          display: inline;
        }

        .separator {
          display: none;
        }
      }
    }
  }

    /* --- Search form --- */
    form {
        border: 0;
        border-bottom: 2px solid $search-color;
        outline: 0;

        *:focus {
            outline: none;
        }

        input{
            &[type=text] {
                box-sizing: border-box;
                border: 0;
                outline: 0;
                color: $search-color;
            }

            &::-moz-placeholder {
                color: $search-color;
                opacity: 1;
            }

            &:-ms-input-placeholder, &::-webkit-input-placeholder {
                color: $search-color;
            }
        }

        button {
           border: none;
           font-size: 0.9em;
           background-color: $brand-color;
           color: $search-color;
        }
    }
}
